{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} {{ position.name }} {% endblock title %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock stylesheets %}

{% block content %}
  {% include "includes/navigation-light.html" %}

  <div class="container mt-4">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h2>Position: {{ position.name }}</h2>
          </div>
          <div class="card-body">
            <h4>Assigned Workers</h4>
            <ul class="list-group">
              {% for worker in position.workers.all %}
                <li class="list-group-item">
                  <a href="{% url 'task:worker-detail' pk=worker.id %}">{{ worker.first_name }} {{ worker.last_name }}</a>
                </li>
              {% empty %}
                <li class="list-group-item text-muted">
                  No workers assigned to this position.
                </li>
              {% endfor %}
            </ul>
          <div class="btn-container">
            <a href="{% url 'task:position-update' position.pk %}" class="btn btn-primary">Update</a>
            <a href="{% url 'task:position-delete' position.pk %}" class="btn btn-danger">Delete</a>
            <button onclick="goBack()" class="btn btn-secondary">Return Back</button>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block javascripts %}
  <script src="{{ ASSETS_ROOT }}/js/soft-design-system.min.js?v=1.0.1" type="text/javascript"></script>
    <script>
    function goBack() {
      window.history.back();
    }
  </script>
{% endblock javascripts %}
