{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Position list {% endblock title %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock stylesheets %}

{% block content %}
  {% include "includes/navigation-light.html" %}

  <div class="container mt-4">
      <div class="row">
          <div class="col-lg-12">
              <div class="d-flex justify-content-between align-items-center">
                  <h1>Position List</h1>
                  <a href="{% url 'task:position-create' %}" class="btn btn-primary">Add Position</a>
              </div>
          </div>
      </div>
  </div>

  {% if position_list %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <table class="position-table">
                    <thead>
                        <tr>
                            <th>Position Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for position in position_list %}
                        <tr>
                            <td class="position-name">{{ position.name }}</td>
                            <td>
                                <a href="{% url 'task:position-detail' pk=position.id %}" class="btn btn-info">Details</a>
                                <a href="{% url 'task:position-update' position.pk %}" class="btn btn-primary">Update</a>
                                <a href="{% url 'task:position-delete' position.pk %}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  {% else %}
    <p>No positions found in the service.</p>
  {% endif %}

{% endblock content %}

{% block javascripts %}
  <script src="{{ ASSETS_ROOT }}/js/soft-design-system.min.js?v=1.0.1" type="text/javascript"></script>
{% endblock javascripts %}
