{% extends "base.html" %}

{% block content %}
    <h1>Teams List <a href="{% url 'task:team-create' %}" class="btn btn-primary">Create</a></h1>
    {% if team_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    {% for team in team_list %}
      <tr>
        <td>{{ team.id }}</td>
        <td><a href="{% url 'task:team-detail' pk=team.id %}">{{ team.name }}</a></td>
      </tr>
    {% endfor %}

    </table>
    {% else %}
      <p>There are no teams in the service.</p>
    {% endif %}
{% endblock %}