{% extends "base.html" %}

{% block content %}
  <h1>Team: {{ team.name }}</h1>

  <h2>Assigned Workers:</h2>
  <ul>
    {% for worker in team.workers.all %}
      <li>{{ worker.first_name }} {{ worker.last_name }}</li>
    {% empty %}
      <li>No workers assigned to this team.</li>
    {% endfor %}
  </ul>

  <h2>Related Projects:</h2>
  <ul>
    {% for project in team.projects.all %}
      <li>{{ project.name }}</li>
    {% empty %}
      <li>No projects assigned to this team.</li>
    {% endfor %}
  </ul>

  <a href="{% url 'task:team-update' pk=team.id %}" class="btn btn-primary">Update</a>
  <a href="{% url 'task:team-delete' pk=team.id %}" class="btn btn-danger">Delete</a>
{% endblock %}
